
#es-loreal.es-loreal {
font-family: "Spartan", Arial, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.2;
max-width: 1100px;
margin: 0 auto;
padding: 0;
overflow: hidden;
color: #1d1d1b;
background: #fff;
padding-bottom: 64px;
}

#es-loreal.es-loreal * {
-webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#es-loreal.es-loreal h2,
#es-loreal.es-loreal h3,
#es-loreal.es-loreal h4,
#es-loreal.es-loreal h5 {
font-family: "Spartan", Arial, sans-serif;
color: #1d1d1b;
}

#es-loreal.es-loreal .es-footer {
margin: 0;
padding: 16px;
line-height: inherit;
font-family: inherit;
font-weight: inherit;
font-weight: 700;
text-transform: uppercase;
font-size: 32px;
text-align: center;
line-height: 1.1;
color: #fff;
background-color: #1d1d1b;
}

#es-loreal.es-loreal .es-kv__logo {
opacity: 0;
-webkit-animation: slidedown 0.9s ease forwards;
    animation: slidedown 0.9s ease forwards;
}

#es-loreal.es-loreal .es-kv__title {
margin: 0;
padding: 16px;
line-height: inherit;
font-family: inherit;
font-weight: inherit;
font-weight: 700;
text-transform: uppercase;
font-size: 32px;
text-align: center;
line-height: 1.1;
color: #fff;
background-color: #1d1d1b;
}

#es-loreal.es-loreal .es-kv__container {
background-color: #F074A9;
text-align: center;
}

#es-loreal.es-loreal .es-kv__subtitle {
margin: 0;
padding: 0;
line-height: inherit;
color: inherit;
font-family: inherit;
font-weight: inherit;
margin-bottom: 32px;
font-weight: 900;
font-size: 48px;
text-align: center;
line-height: 1.1;
}

#es-loreal.es-loreal .es-kv__img {
max-width: 100%;
display: block;
margin: 0 auto;
}

#es-loreal.es-loreal .es-kv__text {
margin: 0;
padding: 0;
line-height: inherit;
font-family: inherit;
font-weight: 400;
font-size: 22px;
text-align: center;
line-height: 1.2;
color: #1d1d1b;
padding: 0 16px 16px;
}

#es-loreal.es-loreal .es-kv__link {
margin: 0 auto;
padding: 0;
line-height: inherit;
color: inherit;
font-family: inherit;
font-weight: inherit;
position: relative;
display: inline-block;
padding: 12px 28px;
text-decoration: none;
color: #fff;
font-size: 22px;
text-align: center;
background: #1d1d1b;
font-weight: 600;
margin-bottom: 16px;
white-space: nowrap;
margin-top: 36px;
transition: all 0.4s ease-in-out;
}

#es-loreal.es-loreal .es-kv__container:hover .es-kv__link {
background: white;
color: #de348a;
transform: scale(1.3);
font-weight: 900;
}

#es-loreal.es-loreal .es-color__container {
background-color: #f17cae;
}

#es-loreal.es-loreal .es-color__text {
margin: 0;
padding: 0;
line-height: inherit;
font-family: inherit;
font-weight: 400;
font-size: 22px;
text-align: center;
line-height: 1.2;
color: #1d1d1b;
padding: 0 16px;
margin-bottom: 32px;
}

#es-loreal.es-loreal .es-color__list {
margin: 0;
padding: 0;
line-height: inherit;
font-family: inherit;
font-weight: 400;
font-size: 22px;
text-align: center;
line-height: 1.2;
color: #1d1d1b;
padding: 0 16px;
list-style: disc inside none;
}

#es-loreal.es-loreal .es-color__title {
margin: 0;
padding: 0;
line-height: inherit;
color: inherit;
font-family: inherit;
font-weight: inherit;
margin-bottom: 32px;
margin-top: 32px;
font-weight: 900;
font-size: 32px;
text-align: center;
line-height: 1.1;
}

#es-loreal.es-loreal .es-color__img {
max-width: 100%;
display: block;
margin: 0 auto;
}

#es-loreal.es-loreal .es-color__single {
padding-bottom: 32px;
}

#es-loreal.es-loreal .es-color__subtitle {
margin: 0;
padding: 0;
line-height: inherit;
color: inherit;
font-family: inherit;
font-weight: inherit;
margin-bottom: 32px;
font-weight: 900;
font-size: 24px;
text-align: center;
line-height: 1.1;
font-size: 32px;
}

#es-loreal.es-loreal .es-cross__container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
}

#es-loreal.es-loreal .es-cross__product {
width: 275px;
max-width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-flow: column;
flex-flow: column;
overflow: hidden;
}

#es-loreal.es-loreal .es-cross__title {
margin: 0;
padding: 0;
line-height: inherit;
color: inherit;
font-family: inherit;
font-weight: inherit;
margin-bottom: 32px;
margin-top: 32px;
font-weight: 900;
font-size: 32px;
text-align: center;
line-height: 1.1;
}

#es-loreal.es-loreal .es-cross__img {
max-width: 100%;
display: block;
margin: 0 auto;
transition: all 0.4s ease-in-out;
}

#es-loreal.es-loreal .es-cross__link {
margin: 0 auto;
padding: 0;
line-height: inherit;
color: inherit;
font-family: inherit;
font-weight: inherit;
position: relative;
display: inline-block;
padding: 12px 28px;
text-decoration: none;
color: #fff;
font-size: 22px;
text-align: center;
background: #1d1d1b;
font-weight: 600;
margin-bottom: 16px;
width: 80%;
transition: all 0.4s ease-in-out
}

#es-loreal.es-loreal .es-cross__product:hover .es-cross__img {
transform: scale(1.2);
}

#es-loreal.es-loreal .es-cross__packshot {
overflow: hidden;
}

#es-loreal.es-loreal .es-cross__product:hover .es-cross__link--1 {
background: #fff;
color:#de348a;
transform: scale(1.2);
font-weight: 900;
}

#es-loreal.es-loreal .es-cross__product:hover .es-cross__link--2 {
background: #fff;
color: #b281b7;
transform: scale(1.2);
font-weight: 900;
}

#es-loreal.es-loreal .es-cross__product:hover .es-cross__link--3 {
background: #fff;
color:#f5c834;
transform: scale(1.2);
font-weight: 900;
}

#es-loreal.es-loreal .es-cross__product:hover .es-cross__link--4 {
background: #fff;
color:#00a9c1;
transform: scale(1.2);
font-weight: 900;
}

#es-loreal.es-loreal .es-cross__product:hover .es-cross__link--5 {
background: #fff;
color:#ee733a;
transform: scale(1.2);
font-weight: 900;
}

#es-loreal.es-loreal .es-cross__product:hover .es-cross__link--6 {
background: #fff;
color: #e21f32;
transform: scale(1.2);
font-weight: 900;
}

#es-loreal.es-loreal .es-cross__product:hover .es-cross__link--7 {
background: #fff;
color:#1ba4cd;
transform: scale(1.2);
font-weight: 900;
}

#es-loreal.es-loreal .es-cross__product:hover .es-cross__link--8 {
background: #fff;
color:#f5c834;
transform: scale(1.2);
font-weight: 900;
}

#es-loreal.es-loreal .es-cross__desc {
text-align: center;
overflow: hidden;
}

#es-loreal.es-loreal .es-cross__list {
list-style: disc inside none;
text-align: left;
padding-left: 16px;
padding-right: 16px;
margin: 16px 0;
color: #fff;
}

#es-loreal.es-loreal .es-cross__desc--pink {
background-color: #d50375;
}

#es-loreal.es-loreal .es-cross__desc--purple {
background-color: #a544b9;
}

#es-loreal.es-loreal .es-cross__desc--yellow {
background-color: #fcb822;
}

#es-loreal.es-loreal .es-cross__desc--blue {
background-color: #1f859f;
}

#es-loreal.es-loreal .es-complementary__title {
margin: 0;
padding: 0;
line-height: inherit;
color: inherit;
font-family: inherit;
font-weight: inherit;
margin-bottom: 32px;
margin-top: 32px;
font-weight: 900;
font-size: 32px;
text-align: center;
line-height: 1.1;
}

#es-loreal.es-loreal .es-complementary__subtitle {
margin: 0;
padding: 0;
line-height: inherit;
color: inherit;
font-family: inherit;
font-weight: inherit;
margin-bottom: 32px;
font-weight: 900;
font-size: 32px;
text-align: center;
line-height: 1.1;
}

#es-loreal.es-loreal .es-complementary__text {
margin: 0;
padding: 0;
line-height: inherit;
font-family: inherit;
font-weight: 400;
font-size: 22px;
text-align: center;
line-height: 1.2;
color: #1d1d1b;
padding: 0 16px;
}

#es-loreal.es-loreal .es-complementary__link {
margin: 16px 0;
padding: 0;
line-height: inherit;
color: inherit;
font-family: inherit;
font-weight: inherit;
position: relative;
display: inline-block;
padding: 12px 28px;
text-decoration: none;
color: #fff;
font-size: 22px;
text-align: center;
background: #1d1d1b;
font-weight: 600;
width: 136px;
transition: all 0.4s ease-in-out;
}

#es-loreal.es-loreal .es-complementary__single:hover .es-complementary__link--pink {
background: white;
color: #de348a;
transform: scale(1.3);
font-weight: 900;
}

#es-loreal.es-loreal .es-complementary__single:hover .es-complementary__link--purple {
background: white;
color: #b281b7;
transform: scale(1.3);
font-weight: 900;
}

#es-loreal.es-loreal .es-complementary__single {
text-align: center;
}

#es-loreal.es-loreal .es-complementary__single--1 {
background: rgb(232,108,162);
background: linear-gradient(90deg, rgba(232,108,162,1) 0%, rgba(240,118,170,1) 50%, rgba(239,116,169,1) 100%);
}

#es-loreal.es-loreal .es-complementary__single--2 {
background-color: #c4bcde;
}

#es-loreal.es-loreal .es-complementary__img {
max-width: 100%;
display: block;
margin: 0 auto;
}

#es-loreal.es-loreal .es-cross__subtitle {
margin: 0;
padding: 0 20%;
line-height: inherit;
color: inherit;
font-family: inherit;
font-weight: inherit;
text-align: center;
font-size: 22px;
margin-bottom: 24px;

}

#es-loreal.es-loreal .es-cross__text {
margin: 24px 0 0 0;
padding: 0;
line-height: inherit;
color: inherit;
font-family: inherit;
font-weight: inherit;
font-weight: 700;
text-transform: uppercase;
font-size: 24px;
text-align: center;
line-height: 1.1;
}

#es-loreal.es-loreal .es-cross__product--orange {
color: #ee733a
}

#es-loreal.es-loreal .es-cross__product--red {
color: #e21f32
}

#es-loreal.es-loreal .es-cross__product--blue {
color: #00a9c1
}

#es-loreal.es-loreal .es-cross__product--yellow{
color: #f5c834
}

#es-loreal.es-loreal .es-cross__list--2 {
list-style: disc inside none;
padding: 0;
text-align: center;
min-height: unset;
}

#es-loreal.es-loreal .es-cross__black {
color: #1d1d1b
}

#es-loreal.es-loreal .es-cross__list li {
padding-bottom: 8px;
}

@media screen and (min-width: 600px) {
#es-loreal.es-loreal .es-cross__list {
min-height: 290px;
}
#es-loreal.es-loreal .es-cross__list--2 {
min-height: 110px;
}
#es-loreal.es-loreal .es-cross__desc {
min-height: 330px;
}
}

@media screen and (min-width: 920px) {
#es-loreal.es-loreal .es-kv__container {
background-image: url("https://dl.dropboxusercontent.com/s/ka6vj8v9aezfec2/complementary-bg.png?dl=0");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
min-height: 550px;
}
#es-loreal.es-loreal .es-kv__container {
padding-left: 50%;
padding-top: 10%;
padding-right: 10%;
}  
#es-loreal.es-loreal .es-kv__subtitle {
font-size: 54px;
}
#es-loreal.es-loreal .es-kv__photo {
display: none;
}
#es-loreal.es-loreal .es-color__container {
background-image: url("https://dl.dropboxusercontent.com/s/r6piy00s552o396/color-bg.png?dl=0");
min-height: 1429px;
}
#es-loreal.es-loreal .es-complementary__single {
min-height: 463px;
}
#es-loreal.es-loreal .es-complementary__single--1 {
background-image: url("https://dl.dropboxusercontent.com/s/3axe484c0d6tdzd/kv-photo.png?dl=0");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding-left: 50%;
padding-top: 7%;
padding-right: 15%;
}
#es-loreal.es-loreal .es-complementary__single--2 {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-direction: reverse;
-ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
  justify-content: space-between;
-webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
padding: 0 48px;
}
#es-loreal.es-loreal .es-complementary__desc {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-direction: normal;
-ms-flex-flow: column;
  flex-flow: column;
flex-basis: 50%;
-webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
#es-loreal.es-loreal .es-complementary__link {
margin-top: 32px;
width: 200px;
}
#es-loreal.es-loreal .es-complementary__subtitle {
font-size: 48px;
}
#es-loreal.es-loreal .es-complementary__photo--1 {
display: none;
}
#es-loreal.es-loreal .es-color__subtitle {
font-size: 48px;
}
#es-loreal.es-loreal .es-color__single {
max-width: 40%;
position: absolute;
}
#es-loreal.es-loreal .es-color__single--1{
top: 10%;
left: 10%;
}
#es-loreal.es-loreal .es-color__single--2 {
top: 43%;
left: 50%
}
#es-loreal.es-loreal .es-color__single--3 {
top: 75%;
left: 10%;
}
#es-loreal.es-loreal .es-color__container {
position: relative;
}
#es-loreal.es-loreal .es-color__photo {
display: none;
}
}


@-webkit-keyframes appear {
from {
opacity: 0;
}
to {
opacity: 1;
-webkit-transform: translateY(0);
      transform: translateY(0);
}
}

@keyframes appear {
from {
opacity: 0;
}
to {
opacity: 1;
-webkit-transform: translateY(0);
      transform: translateY(0);
}
}

@-webkit-keyframes slidedown {
from {
opacity: 0;
-webkit-transform: translateY(-32px);
      transform: translateY(-32px);
}
to {
opacity: 1;
-webkit-transform: translateY(0);
      transform: translateY(0);
}
}

@keyframes slidedown {
from {
opacity: 0;
-webkit-transform: translateY(-32px);
      transform: translateY(-32px);
}
to {
opacity: 1;
-webkit-transform: translateY(0);
      transform: translateY(0);
}
}

@-webkit-keyframes slideright {
from {
opacity: 0.3;
-webkit-transform: translateX(-100px);
      transform: translateX(-100px);
}
to {
opacity: 1;
-webkit-transform: translateX(0);
      transform: translateX(0);
}
}

@keyframes slideright {
from {
opacity: 0.3;
-webkit-transform: translateX(-100px);
      transform: translateX(-100px);
}
to {
opacity: 1;
-webkit-transform: translateX(0);
      transform: translateX(0);
}
}

@-webkit-keyframes slideleft {
from {
opacity: 0.3;
-webkit-transform: translateX(100px);
      transform: translateX(100px);
}
to {
opacity: 1;
-webkit-transform: translateX(0);
      transform: translateX(0);
}
}

@keyframes slideleft {
from {
opacity: 0.3;
-webkit-transform: translateX(100px);
      transform: translateX(100px);
}
to {
opacity: 1;
-webkit-transform: translateX(0);
      transform: translateX(0);
}
}
